[Desktop Entry]
Version=1.0
Type=Application
Name=Transmission
Comment=A Bit Torrent Client
Exec=/usr/bin/firefox %u http://localhost:8170
Icon=transmission-qt
Terminal=false
Categories=Internet;
